@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
/*body,*/
/*html {*/
/*    overflow-x: hidden;*/
/*    overflow-y: scroll;*/
/*}*/

.container-body {
    overflow-x: hidden;
}

body {
    background: #f4f4f4 !important;
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
}

.scroll-width {
    width: fit-content;
}

*::selection {
    background: #000;
    color: #fff;
}

article {
    width: 100% !important;
}

.top-menu {
    display: flex;
    justify-content: end;
    align-items: start;
    width: 55%;
    margin: 0 auto;
}

@media (max-width: 895px) {
    .top-menu {
        width: 100%;
    }
}

.burger-menu {
    display: none;
}

@media (max-width: 1437px) and (min-width: 1200px) {
    /*.wp-block-columns {*/
    /*    max-width: 90vh !important;*/
    /*}*/
}
@media (max-width: 1200px) and (min-width: 890px) {
    .wp-block-columns {
        max-width: 80% !important;
    }

    /*.wp-block-column {*/
    /*    max-width: 30%;*/
    /*}*/

    /*.wp-block-columns {*/
    /*    display: block !important;*/
    /*}*/
    /*.wp-block-column {*/
    /*    max-width: 60%;*/
    /*}*/
}
@media (min-width: 1200px) {
    .container {
        transition: .5s ease;
        max-width: 85% !important;
    }
    .container.scrolled {
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 1200px) {
    .container {
        transition: .5s ease;
        max-width: 95% !important;
    }
    .container.scrolled {
        width: 95% !important;
        max-width: 95% !important;
    }
    .wp-block-columns {
        display: block !important;
    }
}
@media (max-width: 890px) {
    .logo-block {
        padding-top: 0 !important;
        margin-top: -45px;
        padding-bottom: 15px !important;
    }

    .top-menu {
        transform: translateY(21px) !important;
    }

    .container {
        transition: .5s ease;
        max-width: 100% !important;
    }
    .container.scrolled {
        width: 100% !important;
        max-width: 100% !important;
    }

    .with-sub::after {
        content: '\f107';
        display: inline-block;
        font-family: FontAwesome;
        font-size: 12px;
        margin-left: -10px;
        margin-top: 5px;
        position: absolute;
        right: 0;
        margin-right: 30px;
    }

    ul.menu-nav {

    }

    .burger-menu {
        display: block;
    }

    .top-menu {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .bottom-menu {
        display: none;
    }

    .drop-header {
        display: none;
    }

    /*.wp-block-columns {*/
    /*    display: block !important;*/
    /*}*/
}
@media (max-width: 600px) {
    /*.wp-block-columns {*/
    /*    display: block !important;*/
    /*}*/
    /*.wp-block-column {*/
    /*    max-width: 41%;*/
    /*}*/
}
@media (max-width: 500px) {
    /*.wp-block-columns {*/
    /*    display: block !important;*/
    /*}*/
    /*.wp-block-column {*/
    /*    max-width: 35%;*/
    /*}*/
}

.container-body {
    max-width: 1500px;
}

.heading-title {
    position: relative;
    text-align: center;
}

.heading-title {
    margin: 0 0 55px 0;
}
.heading-title:before {
    background: #fff url('/images/title-icon.png') center center no-repeat;
    bottom: 0;
    content: '';
    display: block;
    height: 40px;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 60px;
    z-index: 9;
    -webkit-transform: translateX(-50%) translateY(50%);
    -moz-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
}
.heading-title:after {
    border-top: 1px dotted #a3a3a3;
    content: '';
    display: block;
    margin: 45px auto 0 auto;
    max-width: 100%;
    width: 530px;
}

.modal {
    height: 100%;
    width: 100%;
}

.modal-overlay {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.language-select {

}
.language-select a {
    display: flex;
    padding: 7px 15px;
    transition: .1s ease;
    outline: 2px dashed rgba(0,0,0,0);
    margin-bottom: 5px;
}

.language-select a img {
    margin-right: 5px;
}

.language-select a:hover {
    background: rgba(0,0,0,.05);
}
.language-select a:active {
    outline: 2px dashed rgba(0,0,0,1);
}

/*.product {*/
/*    width: 277px;*/
/*    height: 300px;*/
/*}*/

/*@media (max-width: 430px) {*/
/*    .product {*/
/*        width: 100%;*/
/*        height: 300px;*/
/*    }*/
/*}*/

.product .product__img {
    width: 100%;
    height: 250px;
}

.product .product__title {
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0 0 0;
}

.product .product__description {
    /*margin-top: 0;*/
    font-weight: 200;
}
.product button {
    color: #fff;
    height: 40px;
    width: fit-content;
    padding: 0 25px;
    background: #101010;
}
.product button:hover {
    background: #000;
    transition: .3s ease;
}
.product button:active {
    transform: scale(.97);
}

.product button.in-cart {
    background: #f4f4f4;
    color: #000;
}
.product button.in-cart:active {
    transform: none;
}

.cart-container span {
    background: #c1b17e;
    color: #fff;
    display: block;
    font-size: 9px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: -7px;
    text-align: center;
    top: 0px;
    width: 18px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.article {
    height: 400px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: .2s ease;
    display: block;
    position: relative;
    overflow: hidden;
}



.article .article__bottom {
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
    height: 150px;
    width: 100%;
    padding-top: 90px;
    padding-left: 25px;
    color: #fff;
    font-size: 20px;
}

.article:hover {
    transform: translate(5px, -5px);
    cursor: pointer;
}

@media (min-width: 850px) {
    .mobile-menu-nav {
        display: none;
    }
}

@media (max-width: 850px) {
    .article {
        width: 37vh !important;
        height: 400px;
    }
}

@media (max-width: 795px) {
    .article {
        width: 300px !important;
        height: 300px;
    }

    .images-slider {
        height: 300px !important;
    }

    .images-slider .slide {
        height: 300px !important;
    }
}

.mobile-menu-nav {
    transform: translateX(-100%);
    transition: .7s ease;
}

@media (max-width: 890px) {
    body {
        transition: .7s ease;
    }

    .mobile-menu-nav.opened {
        display: block;
        transform: translateX(0);
    }

    body.opened-menu {
        /*transform: translateX(50%);*/
    }
}

.mobile-menu-nav {
    width: 70%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    padding: 20px 30px 20px 30px;
    /*display: none;*/
}

.mobile-menu-nav ul li {
    padding: 12px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.mobile-menu-nav ul li:last-child,
.mobile-menu-nav ul li:nth-child(9) {
    border-bottom: 1px solid rgba(0,0,0,0);
}

button.in-basket {
    background: rgba(0,0,0,.05) !important;
    color: #000 !important;
}

.vendor_code
{
    font-size: 16px;
    margin-top: 20px;
}

.barcode
{
    color: #000;
    font-size: 40px;
    font-family: 'Libre Barcode 39 Text';
}
